@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import "colors";
@import "typo";

* {
    box-sizing: border-box;
    margin: 0;
}

.hero {
    background-image: url(https://i.pinimg.com/564x/8f/71/73/8f71735120af21ff5b0817058793dfa5.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 15px 15px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;

        a {
            color: $black;
            font-size: 30px;
            font-weight: 500;
            text-decoration: none;
            letter-spacing: 2px;
        }
    }

    button {
        background-color: transparent;
        color: $black;
        font-size: 24px;
        border: none;
        cursor: pointer;

        a {
            opacity: 0.5;
            text-decoration: none;
            background-color: #5e7172;
            font-family: "Amiri", serif;
            font-size: 18px;
            text-shadow: 1px 1px #050505;
            color: #fffdfb;
            letter-spacing: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            position: absolute;
            bottom: 25%;
            margin: 0 30px;

            &:hover {
                background-color: $black;
                color: $pink;
            }
        }
    }

    h1 {
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 30px;
        border: 1px solid #050505;
    }

    nav {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .hero {
        background-size: contain;
        header {
            position: fixed;
            width: 100%;
            background: #cfad99;
            opacity: 0.8;
            box-shadow: 0 0 7px rgb(243, 219, 219);
        }
    }
}

@media screen and (min-width: 940px) {
    .hero {
        header {
            position: fixed;
            width: 100%;
            background: #cfad99;
            opacity: 0.8;
            box-shadow: 0 0 7px rgb(243, 219, 219);

            a {
                color: #fffdfb;
            }
            button {
                display: none;
            }
            .navigation {
                display: contents;
                position: fixed;
                width: 100%;
                background: #cfad99;
                opacity: 0.8;
                box-shadow: 0 0 7px rgb(243, 219, 219);

                .nav_menu {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 0 2rem;

                    .nav_listicon {
                        list-style: none;
                        margin-right: auto;
                        cursor: pointer;
                        a {
                            color: #fffdfb;
                            font-size: 14px;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: 2px;
                            margin: 15px;
                        }
                    }
                    .nav_list {
                        list-style: none;
                        margin-right: auto;
                        margin-inline-start: 50px;
                        cursor: pointer;
                        position: relative;
                        padding: 1rem 1rem;

                        &:nth-child(4) {
                            margin-right: 100px;
                        }

                        &:hover ul,
                        &:focus ul {
                            opacity: 1;
                            visibility: visible;
                        }

                        a {
                            color: #fffdfb;
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: 2px;
                        }

                        .dropdown {
                            position: absolute;
                            top: 4rem;
                            left: -1rem;
                            background-color: transparent;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 300ms ease-in-out;
                            padding: 0px;

                            .nav_subitem {
                                list-style: none;
                                padding-left: 2rem;

                                a {
                                    color: #fffdfb;
                                    font-size: 16px;
                                    font-weight: 500;
                                    text-transform: capitalize;
                                    text-decoration: none;
                                    text-shadow: 0.5px 1px #050505;
                                }
                            }
                        }
                    }
                }
            }
            display: contents;
            color: #050505;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.add-to-cart {
    text-transform: uppercase;
    background-color: #e0d3cc;
    padding: 7px;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: rgb(94, 113, 114, 0.8);
    color: #e0d3cc;
}

.product-counter {
    font-size: 12px;
    background-color: #5e7172;
    border-radius: 50%;
    padding: 2px;
}
